:root {
  --color-black: #333;
  --color-white: #fff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-black);
  font-family: "Noto Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

